[user]
	name = Joseph Rojo
	email = joseph.rojo@fiserv.com
[push]
	autoSetupRemote = true
[http]
	postBuffer = 1048576000
	emptyAuth = true
[https]
	postBuffer = 1048576000
[core]
	pager = delta --line-numbers
	excludesfile = /Users/josephrojo/.git/ignore
[color]
	pager = no
[credential]
	helper = cache
[includeIf "gitdir:~/fiserv/"]
    path = ~/.gitconfig-work
[interactive]
	diffFilter = delta --color-only --line-numbers
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
