.config/nvim/plugin

.codex/back.config.toml
.codex/history.jsonl
.codex/log/
.codex/sessions/
.codex/skills/.system
.codex/agent-skills/skills/.system
.codex/update-check.json
.codex/version.json
.codex/shell_snapshots/
.codex/tmp/
.agents
