*.foreground: #D6DCE3
*.background: [95]#21222C
*.color0:     [95]#21222C
*.color8:     #4D4D4D
*.color1:     #aF5555
*.color9:     #aF6E67
*.color2:     [80]#50FA7B
*.color10:    [80]#50FA7B
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #CAA9FA
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

URxvt.font:                       xft:DejaVu Sans Mono for Powerline:size=12:antialias=true
URxvt*letterSpace:                0

URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
Urxvt.perl-ext-common:            default,resize-font
